/*
Binder
Author: Clement Valla
Edit: @ajantriks
Version: 1.1
*/

/* Spaces */

*{
 	margin: 0;
	padding: 0;
 }
html {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: "Fira Mono", mono;
	color: #222;
	background-color: #fff;
}

.container {
	margin-top: 100px;
	padding-left: 100px;
}

.big-container {
	width: 100%;
	height: 100%;
	margin: 0px;
	position: fixed;
}

.horizontal-container-top {
	position: relative;
	width: 100%;
	height: 70%;
	z-index: 16;
}

.horizontal-container-bottom {
	position: relative;
	width: 100%;
	height: 30%;
	z-index: 16;
}

.img {
	left: -210px;
	top: -100px;
	width: 40%;	
}

.txt {
	width: 40%;
	margin-left: -18%;
	margin-top: -75px;	
	z-index: 80;
	overflow: visible;
}

.txt h3 {
	font-weight: bold;
	border: 4px solid #ffff00;
	padding: 10px;
	margin-bottom: 40px;
	font-size: 24px;
}

.txt p {
	border: 4px solid #ffff00;
	padding: 10px;
	margin-bottom: 40px;
}


#background-site {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#background-site iframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow: scroll;
}

#menu {
	position: fixed;
	right: 110px;
	top: 159px;
	color: #fff;
	letter-spacing: .01em;
	z-index:10;
	padding: 13px;
	padding-right: 15px;
	cursor: move;
}

#logo {
	z-index: 20;
	position: fixed;
	right: 30px;
	top: 35px;
	width: 360px;
}
    #logo-touch {
        display: none;
		position: absolute;
		left:50%;
		top:4px;
		margin-left: -80px;
		width:160px;
		margin: 10%;
    }

#binder-clip{
	margin-top: -38px;
    position: fixed;
    margin-left: 80px;
    z-index: 20;
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-27deg);
}

#navigation {
	margin: 0;
	padding:0;
	list-style-type: none;
}

ul #navigation li {
	padding: 0;
	margin-bottom: 5px;
	width: auto;
	color: #ffff00;
	display: inline;
}

.about {
	position: fixed;
	font-family: "Fira Mono", mono;	
	font-weight: bold;
	font-size: 32px;
	line-height: 19px;
	z-index: 100;
	color: #c4c4c4;
	z-index: 90;
	max-width: 277px;
	right: 169px;
	top: 160px;
}

.content-box {
	margin-top: 40px;
	border: 4px solid #ffff00;
	padding: 0 20px 10px;
	width: 69%;
}

.highlight {
	background-color: #ffff00;
	color: #222;
}

.session-title {
	position: fixed;
	margin: 1px 0 0 0;
	z-index: 99;
}

.footer {
	height: 80px;
}

/* Typography */

h1 {
  	letter-spacing: -.08em;
}

h2 {
	letter-spacing: -.08em;
	font-weight: bold;
	font-size: 24px;
}

.big-container h1,
.big-container h2 {
	margin: 0px;
	line-height: 24px;
	font-size: 32px;
	font-weight: normal;
	color: #ffff00;
	z-index: 99;
}

h4 {
	font-size: 16px;
	color: #222;
}

p {
	font-size: 16px;
	line-height: 20px;
}

p a,
h4 a {
	text-decoration: none;
	color: #222;
	border-bottom: 1px solid #222;
}

p a:hover,
p a:active,
p a:focus,
h4 a:hover,
h4 a:active,
h4 a:focus {
	text-decoration: none;
	color: #222;
	background-color: #ffff00;
	border-bottom: 1px solid black;
}

#navigation a, div.about {
	padding: 0;
	text-decoration: none;
	padding: 10px;
}

#navigation a {
	color: #ffff00;
}

#navigation li a:hover,
#navigation li a:focus,
#navigation li a:active {
	text-decoration: none;
	color: #222;
}

.session-title h1, 
.session-title h2 {
	font-size: 24px;
}

/* Psuedo mobile styles for wide touch devices */
    .touch-device #menu {
        position: fixed;
        font-size: 16px;
        line-height: 22px;
        padding: 10px;
        z-index:10;
        left: 2px;
        right: 2px;
        top: 2px;
    }

	.touch-device #logo{
        display: none;
	}
	.touch-device #logo-touch{
        display: block;
    }
	.touch-device #navigation{
		display: none;
		text-indent: -1.5em;
		margin-left:1.5em;
		margin-top: 20px;
	}
	.touch-device #menu-open{
		width: 30px;
		height: 35px;
		cursor: pointer;
	}
	.touch-device #menu-open div {
	    background-color: black;
	    border: 1px solid black;
	    border-radius: 2px 2px 2px 2px;
	    height: 15%;
	    margin-bottom: 15%;
	    width: 90%;
	}
	.touch-device .about{
		width: auto;
		display: none;
	}
	
/* Real mobile styles for smaller screens */
@media only screen and (max-width: 768px) {
	body, html{
	position: relative;
		width: 100%;
	}
	#background-site{
		-webkit-overflow-scrolling:touch; 
		overflow:auto;
	}
	#background-site iframe{
		width: 100%;
		height: 5500px;
		overflow: hidden;
	}
	#menu {
		position: fixed;
		font-size: 16px;
		line-height: 22px;
		padding: 10px;
		z-index:10;
		left: 2px;
        right: 2px;
		top: 2px;
	}
	#logo{
        display: none;
	}
    #logo-touch {
        display: block;
    }
	#navigation{
		display: none;
		text-indent: -1.5em;
		margin-left:1.5em; 
		margin-top: 20px;
	}
	#menu-open{
		width: 30px;
		height: 35px;
		cursor: pointer;
	}
	#menu-open div {
	    background-color: black;
	    border: 1px solid black;
	    border-radius: 2px 2px 2px 2px;
	    height: 15%;
	    margin-bottom: 15%;
	    width: 90%;
	}
	.about{
		width: auto;
		display: none;
	}
}
/* @end */
